site:
  title: openDAQ
  start_page: opendaq::introduction.adoc
asciidoc:
  attributes:
    page-pagination: true
    tabs-sync-option: true
    gpp: g++
    docs-website: https://opendaq.github.io/
  extensions:
    - "@asciidoctor/tabs"

antora:
  extensions:
    - require: "@springio/antora-extensions/tabs-migration-extension"

content:
  sources:
  - url: https://github.com/openDAQ/openDAQ.git
    branches: ['release/{0..2}.*', 'release/3.?', '!release/0.{1..3}*']
    start_path: docs/Antora
  - url: https://github.com/openDAQ/openDAQ.git
    branches: [main, release/*, '!release/{0..2}.*', '!release/3.?']
    start_paths: docs/Antora, docs/Antora-specs
    
ui:
  bundle:
    url: https://github.com/openDAQ/antora-ui-spring/releases/download/1.4-opendaq/ui-bundle.zip
    snapshot: true